.movies {
  padding: 70px 70px 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 360px);
  max-width: 1140px;
  justify-content: center;
}

@media screen and (max-width: 890px) {
  .movies {
    grid-template-columns: repeat(auto-fit, 342px);
    padding: 70px 30px 80px;
    gap: 35px 24px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    grid-template-columns: repeat(auto-fit, 300px);
    padding: 40px 10px 80px;
    gap: 16px;
  }
}